:root {
    font-size: 16px;
    
    --body-bg: #f5f0f6;
    --prime: #31E981;
    --active: #fe5d26;
    --black: #090909;
    
    --in-space: 1rem;
    --prime-br: 1.5rem;
    --shadow-out: 2px 2px 4px 0px #0d094628 , -2px -2px 4px 0px #ffffff;
    --shadow-hover: 6px 6px 12px 0px #0d094628 , -6px -6px 18px 0px #ffffff;

    --time-fs: 6rem;
    --date-fs: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-bg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--prime-br);
    padding: var(--in-space);
    height: 20rem;
    width: 40rem;
    background-color: transparent;
    box-shadow: var(--shadow-out);
    cursor: pointer;
    transition: 0.3s;
}

main:hover {
    outline: 2px solid var(--active);
    box-shadow: var(--shadow-hover);
}

#time span {
    font-size: var(--time-fs);
}

#date span {
    font-size: var(--date-fs);
}

/* ------------------------------------ */


@media screen and (max-width: 500px) {
    main {
        width: 100%;
        min-width: 400px;
    }

    #time span {
        font-size: calc(var(--time-fs) / 1.5);
    }
    
}
